@model IEnumerable<WebStore_GeekBrains_Summer.Models.ViewModels.BrandVM>

<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model)
            {
                <li><a asp-controller="Catalog" asp-action="Shop" asp-route-brandId="@item.Id"> <span class="pull-right">(@item.Amount)</span>@item.Name</a></li>

            }
        </ul>
    </div>
</div><!--/brands_products-->